main {
    font-family: "Barlow" sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 0 255px 0 255px;
}

.history__title {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 100px;
}

.history {
    margin-top: 100px;
}

.history__image {
    height: 481px;
}

.history__block {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
}

.history__full {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    text-transform: none;
}

/* Get in touch */

.get-in-touch {
    margin-top: 100px;
}

.get-in-touch-title {
    margin-top: 100px;
    font-size: 40px;
    font-weight: 500;
}

.get-in-touch__content {
    display: flex;
    justify-content: space-between;
    gap: 147px;
    margin-top: 80px;
}

.get-in-touch__form {
    display: grid;
    grid-template-columns: 300px 300px;
    column-gap: 50px;
    row-gap: 20px;
}

.get-in-touch__input_field {
    height: 48px;
    width: 300px;
}

.get-in-touch__input_field::placeholder {
    padding-left: 15px;
} 

.get-in-touch__input_field__large{
    height: 132px;
    resize: none;
}

.get-in-touch__form-input-field {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.get-in-touch__input-field-lable {
    text-align: left;
}

.input-field__question{
    width: 300px;
    grid-column: 1 / -1;
}

.get-in-touch__image {
    height: 356px;
    width: 573px;
}

.input-field__agreement {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: flex-end;
    gap:7px;
    width: 300px;
    grid-column-start: 1;
    grid-column-end: -1;
    height: 28px;
}

.get-in-touch__agreement {
    display: inline;
    text-align: left;
}

.get-in-touch__button{
    height: 40px;
    width: 220px;
    margin-top: 0;
    font-size: 16px;
}

.get-in-touch__vase-img {
    height: 85px;
    width: 85px;
    position: absolute;
    bottom: 0;
    right: 125px;
}

.get-in-touch__form-input-field__align-right {
    position: relative;
}

.styled-button {
    border-radius: 2%;
    border: 1px solid black;
    background-color: #FAFAFA;

    height: 40px;
    width: 220px;
    font-size: 20px;
    text-transform: inherit;
}

.styled-button:hover {
    background-color: #232323;
    color: white;
}

.styled-button:active {
    background-color: #FAFAFA;
    color: black;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.find-us__title {
    font-size: 40px;
    font-weight: 500;
    margin-top: 100px;
    margin-bottom: 100px;
}

@media(max-width: 1200px) {
    main {
        padding: 0 55px 0 55px;
    }

    .history__image {
        height: 378px;
    }

    .get-in-touch__form {
        grid-template-columns: 300px;
    }

    .get-in-touch__content {
        gap: 10px;
        justify-content: left;
    }

    .get-in-touch__image {
        height: 341px;
        width: 550px;
    }

    .get-in-touch__vase-img {
        bottom: 0;
        right: 0;
    }
    
    .map {
        width: 663px;
        height: 500px;
    }
}

@media(max-width: 768px) {
    main {
        padding: 0 52px 0 52px;
    }

    .get-in-touch__image {
        display: none;
    }

    .history__block {
        flex-wrap: wrap;
    }

    .map {
        width: 663px;
        height: 503px;
    }
}

@media(max-width: 368px) {

    main {
        padding: 0 10px 0 10px;
    }

    .history__image {
        height: 230px;
    }
    
    .get-in-touch__content {
        width: 100%;
        justify-content: center;
    }

    .get-in-touch__form {
        grid-template-columns: 100%; 
    }

    .get-in-touch__vase-img {
        display: none;
    }

    .map {
        width: 340px;
        height: 206px;
        margin-bottom: 60px;
    }
}